@model Subscription_Proj.Models.SubscriptionInfo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SubscriptionInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubscriptionName" class="control-label"></label>
                <input asp-for="SubscriptionName" class="form-control" />
                <span asp-validation-for="SubscriptionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label"></label>
                <select asp-for="category" asp-items="Html.GetEnumSelectList<Subscription_Proj.Models.Category>()">
                    <option value="">Please select</option>
                </select>
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubPeriod" class="control-label"></label>
                <input asp-for="SubPeriod" class="form-control" />
                <span asp-validation-for="SubPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowSubs">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
